branches:
  only:
  - master
language: scala
scala:
- '2.11.8'
before_script: bash ./.travis/make-nexus-credentials.sh
script:
- sbt ++$TRAVIS_SCALA_VERSION "project $COMPONENT" test && bash ./.travis/check-code-formatting.sh
deploy:
- provider: script
  skip_cleanup: true
  script: bash ./.travis/deploy-artifacts.sh
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: bash ./.travis/deploy-docker.sh
  on:
    branch: master
matrix:
  include:
  - env: COMPONENT=core
  - env: COMPONENT=init DOCKER_PUSH_LATEST=true
    sudo: true
  - env: COMPONENT=mutation-implementation
  - env: COMPONENT=mutation-service DOCKER_PUSH_LATEST=true
    sudo: true
  - env: COMPONENT=navigation-service DOCKER_PUSH_LATEST=true
    sudo: true
  - env: COMPONENT=typesystem-implementation
  - env: COMPONENT=typesystem-service DOCKER_PUSH_LATEST=true
    sudo: true
  - env: COMPONENT=utils

# caching suggestions from http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
